@model WebAppTemplate.Models.Product


@{
    ViewBag.Title = "Product List";
}

@Html.AntiForgeryToken()

<main>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4><span class="fas fa-tags fs-6"></span> @ViewBag.Title <small>(view, add, edit)</small> </h4>
                </div>
                <div class="card-body">

                    <!-- js-level-filter -->
                    <div class="row mb-2" id="js-level-filter" style="display:none">
                        <div class="col-12">
                            <div class="btn-group" role="group" aria-label="status level filter">
                                <button type="button" class="btn btn-outline-primary" data-filter="1">Draft <span class="badge bg-secondary">0</span></button>
                                <button type="button" class="btn btn-outline-primary" data-filter="2">For Checking <span class="badge bg-warning">0</span></button>
                                <button type="button" class="btn btn-outline-primary" data-filter="3">Checked <span class="badge bg-warning">0</span></button>
                                <button type="button" class="btn btn-outline-primary" data-filter="9">Approved <span class="badge bg-success">0</span></button>
                                <button type="button" class="btn btn-outline-danger" data-filter="5">Cancelled/Deleted <span class="badge bg-danger">0</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="btn-group" id="js-crud">
                        <button type="button" class="btn btn-icon icon-left btn-primary text-uppercase mb-3" onclick="showProductModal()"><span class="fas fa-plus-square"></span> Add New Record</button>
                        <button type="button" class="btn btn-icon icon-left btn-warning text-uppercase mb-3"><span class="fas fa-plus-square"></span> Reports </button>
                    </div>

                    <table class="table table-hover table-sm" id="ProductTable" style="width:100%">
                        <thead>
                            <tr class="bg-primary text-white text-uppercase">
                                <th>ID</th>
                                <th>PRODUCTNAME</th>
                                <th>PRODUCTDESCRIPTION</th>
                                <th>PRODUCTCATEGORY</th>
                                <th>PRODUCTCATEGORYDESCRIPTION</th>
                                <th>PRODUCTPRICE</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bg-opacity-75" id="ProductModal" role="dialog" data-bs-focus="false" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ProductModalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-uppercase text-light p-3">
                    <h5 class="modal-title"> </h5>

                    <!-- js-level-update -->
                    <div class="js-level-update" id="js-level-update" style="display:none">
                        <button id="" type="button" class="btn btn-danger" data-filter="backlevel" data-value="-1" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" title="Move back to previous status/level..."><span class="fas fa-arrow-circle-left"></span> Back to level</button>
                        <button id="" type="button" class="btn btn-warning" data-filter="movelevel" data-value="-1" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" title="Move or Submit For..."><span class="fas fa-arrow-circle-right"></span> Submit for checking</button>
                    </div>

                </div>
                <form id="ProductForm" autocomplete="off" dirty-checker>
                    <div class="modal-body">
                        <input type="hidden" id="id" name="id" value="-1">
                        <div class="mb-2">
                            @Html.LabelFor(m => m.ProductName, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.ProductName) })
                            @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-2">
                            @Html.LabelFor(m => m.ProductDescription, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.ProductDescription, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.ProductDescription) })
                            @Html.ValidationMessageFor(m => m.ProductDescription, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-2">
                            @Html.LabelFor(m => m.ProductCategory, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.ProductCategory, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.ProductCategory) })
                            @Html.ValidationMessageFor(m => m.ProductCategory, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-2">
                            @Html.LabelFor(m => m.ProductCategoryDescription, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.ProductCategoryDescription, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.ProductCategoryDescription) })
                            @Html.ValidationMessageFor(m => m.ProductCategoryDescription, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-2">
                            @Html.LabelFor(m => m.ProductPrice, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.ProductPrice, new { @type = "number", @class = "form-control", @Value = "0" })
                            @Html.ValidationMessageFor(m => m.ProductPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnSave_ProductModal" type="button" class="btn btn-success"><span class="far fa-thumbs-up"></span> SAVE</button>
                        <button id="btnClose_ProductModal" type="button" class="btn btn-danger" onclick="$('#ProductModal').modal('toggle')"><span class="far fa-thumbs-down"></span> CLOSE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</main>

@section css{
    <link href="~/Scripts/myscripts/status-level-filter/StatusLevelFilter.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/myscripts/status-level-filter/StatusLevelFilter.js"></script>
    <script src="~/Scripts/myscripts/Home/index.js"></script>
    <script>

        $(function () {
            // initailize action filter
            // initActionFilter()

            $('#ProductModal').on('shown.bs.modal', function () {

            }).on('hidden.bs.modal', function () {
                window._seldata = null;
                $('#ProductFormBody').attr('data-js', '');
                $('#ProductForm')[0].reset();
                $('#id').val('-1');
            });

            $('#btnSave_ProductModal').on('click', function () {
                saveProductForm()
            })

        })

    </script>

}
